<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cookbook" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div class="nav-container">
        <%= link_to "Crystal's Cookbook", recipes_path, class: "nav-brand" %>
        <div class="nav-links">
          <%= link_to "Recipes", recipes_path, class: "nav-link" %>
          <% if authenticated? %>
            <%= link_to "New Recipe", new_recipe_path, class: "nav-link primary" %>
            <%= button_to "Logout", session_path, method: :delete, class: "nav-button" %>
          <% else %>
            <%= link_to "Login", new_session_path, class: "nav-link primary" %>
          <% end %>
        </div>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
